@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
    font-family: 'Comfortaa', cursive;
    background-color: black;
    color: #fdfdfd
}

h1 {
    font-size: 3.1rem !important;
}

a {
    font-size: 1.7rem;
}

.hidden {
    opacity: 0%;
}